<form [formGroup]="cadastroForm" (submit)="submit()">
  <h4 class="pt-4">Dados Pessoais</h4>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" required>
    <small class="form-text text-danger" *ngIf="cadastroForm.get('nome').errors?.required">Digite o Nome</small>
  </div>

  <div class="form-group">
    <label for="cpf">CPF</label>
    <input type="text" class="form-control" formControlName="cpf" mask="000.000.000-00" required />
    <small class="form-text text-danger" *ngIf="cadastroForm.get('cpf').errors?.pattern">CPF Inválido</small>
    <small class="form-text text-danger" *ngIf="cadastroForm.get('cpf').errors?.required">Digite o CPF</small>
  </div>

  <div class="form-group">
    <label for="estadoCivil">Estado Civil</label>
    <select class="form-control" formControlName="estadoCivil" id="estadoCivil" required>
      <option>Selecione...</option>
      <option value="solteiro">Solteiro(a)</option>
      <option value="casado">Casado(a)</option>
      <option value="viuvo">Viúvo(a)</option>
    </select>
    <small class="form-text text-muted" *ngIf="cadastroForm.get('estadoCivil').errors?.required">Selecione o Estado Civil</small>
  </div>

  <div class="form-group">
    <label for="dataNascimento">Data Nascimento</label>
    <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento" required>
    <small class="form-text text-muted" *ngIf="cadastroForm.get('dataNascimento').errors?.required">Digite a Data de
      Nascimento</small>
  </div>

  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" class="form-control" id="telefone" formControlName="telefone" mask="(00)000000000" required>
    <small class="form-text text-danger" *ngIf="cadastroForm.get('telefone').errors?.minlength">Telefone
      Inválido</small>
    <small class="form-text text-danger" *ngIf="cadastroForm.get('telefone').errors?.required">Digite o Telefone</small>
  </div>

  <h4 class="pt-4">Endereço</h4>
  <div class="form-group">
    <label for="cep">CEP</label>
    <input type="text" class="form-control" formControlName="cep" mask="00000-000" required />
    <small class="form-text text-danger"
      *ngIf="cadastroForm.get('cep').errors?.minlength || cadastroForm.get('cep').errors?.maxlength">CEP
      Inválido</small>
    <small class="form-text text-danger" *ngIf="cadastroForm.get('cep').errors?.required">Digite o CEP</small>
  </div>

  <div class="form-group">
    <label for="pais">País</label>
    <input type="text" class="form-control" id="pais" formControlName="pais" required />
    <small class="form-text text-danger" *ngIf="cadastroForm.get('pais').errors?.required">Digite o País</small>
  </div>

  <div class="form-group">
    <label for="estado">Estado</label>
    <input type="text" class="form-control" id="estado" formControlName="estado" required />
    <small class="form-text text-danger" *ngIf="cadastroForm.get('estado').errors?.required">Digite o Estado</small>
  </div>

  <div class="form-group">
    <label for="cidade">Cidade</label>
    <input type="text" class="form-control" id="cidade" formControlName="cidade" required />
    <small class="form-text text-danger" *ngIf="cadastroForm.get('cidade').errors?.required">Digite a Cidade</small>
  </div>

  <div class="form-group">
    <label for="bairro">Bairro</label>
    <input type="text" class="form-control" id="bairro" formControlName="bairro" required />
    <small class="form-text text-danger" *ngIf="cadastroForm.get('bairro').errors?.required">Digite o Bairro</small>
  </div>

  <div class="form-group">
    <label for="numero">Número</label>
    <input type="text" class="form-control" id="numero" formControlName="numero" required />
    <small class="form-text text-danger" *ngIf="cadastroForm.get('numero').errors?.required">Digite o Número</small>
  </div>

  <div class="form-group">
    <label for="complemento">Complemento</label>
    <input type="text" class="form-control" id="complemento" formControlName="complemento" />
  </div>

  <h4 class="pt-4">Renda</h4>
  <div class="form-group">
    <label for="renda">Renda Mensal em R$</label>
    <input type="number" class="form-control" id="renda" formControlName="renda" required />
    <small class="form-text text-danger" *ngIf="cadastroForm.get('renda').errors?.required">Digite a Renda</small>
  </div>

  <button [disabled]="cadastroForm.invalid" class="btn btn-primary btn-block">Enviar</button>

</form>
